name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build-and-publish:
    name: Build and Publish Common Modules
    uses: CoreWebMicroservices/corems-project/.github/workflows/java-library-ci.yml@main
    with:
      java-version: '25'
      run-tests: true
      publish-artifacts: true
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
